In [1]:
#naive bayes
#predict titanic survival using naive bayes

In [73]:
import pandas as pd
import numpy as np

In [74]:
df=pd.read_csv('taitnaic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace=True)

In [11]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [13]:
target=df.Survived
input=df.drop('Survived', axis='columns')

In [23]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [15]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [20]:
dummies=pd.get_dummies(input.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [26]:
inputs=pd.concat([input, dummies], axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [ ]:
inputs.drop('Sex', axis='columns', inplace=True)

In [40]:
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [42]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [45]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [47]:
inputs.Age.mean()

29.69911764705882

In [53]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1

In [128]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test=train_test_split(inputs, target, test_size=0.2)

In [106]:
len(x_train)

712

In [107]:
len(x_test)

179

In [88]:
len(y_train)

712

In [85]:
from sklearn.naive_bayes import GaussianNB

In [95]:
model=GaussianNB()

In [129]:
model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [130]:
model.score(x_train,y_train)

0.7935393258426966

In [131]:
x_test[:10]

     Pclass        Age      Fare  female  male
117       2  29.000000   21.0000       0     1
7         3   2.000000   21.0750       0     1
778       3  29.699118    7.7375       0     1
567       3  29.000000   21.0750       1     0
191       2  19.000000   13.0000       0     1
865       2  42.000000   13.0000       1     0
69        3  26.000000    8.6625       0     1
611       3  29.699118    7.0500       0     1
544       1  50.000000  106.4250       0     1
200       3  28.000000    9.5000       0     1

In [132]:
y_test[:10]

117    0
7      0
778    0
567    0
191    0
865    1
69     0
611    0
544    0
200    0
Name: Survived, dtype: int64

In [133]:
model.predict(x_test[:10])

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 0], dtype=int64)

In [ ]:
model.predict_prb(x_test[:10])

In [ ]:
#naive bayes
#Build email spam dectector

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\personal\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\personal\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\personal\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\personal\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: six>=1.5 in c:\users\personal\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install numpy

Requirement already satisfied: numpy in c:\users\personal\anaconda3\lib\site-packages (1.16.4)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_excel('spam.xlsx')
df.head()

,Category,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4' ], axis='columns', inplace=True)

In [11]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [18]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(df.Message, df.spam, test_size=0.2)

In [150]:
len(x_train)

4457

In [151]:
len(x_test)

1115

In [96]:
#Vectorizer
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit(x_train.values)
x_train_count.toarray()[:3]

AttributeError: 'int' object has no attribute 'lower'

In [85]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [1, 4457]